{% extends 'style.html' %}

{% block title %}
SpecMetal Works | Home
{% endblock %}


{% block content %}

<section class="hero">

<div>

<h1>
Professional Fabrication & Welding Solutions
</h1>

<p>
Steel Fabrication • Structural Welding • Industrial Maintenance • Custom Metal Works
</p>

<a href="{% url 'contact' %}" class="btn">
Get Free Quote
</a>

</div>

</section>


<section class="services">

<h2>
Our Services
</h2>


<div class="cards">


<div class="card">
<h3>Steel Fabrication</h3>
<p>
Industrial and Structural Fabrication.
</p>
</div>



<div class="card">
<h3>Welding</h3>
<p>
MIG • TIG • ARC Welding.
</p>
</div>



<div class="card">
<h3>Custom Metal Works</h3>
<p>
Gate, Railing, Staircase and Steel Works.
</p>
</div>


</div>

</section>



<section class="about">

<h2>
About SpecMetal Works
</h2>

<p>
We provide high-quality fabrication and welding solutions for residential,
commercial and industrial projects with experienced professionals.
</p>

</section>



<section class="contact">

<h2>
Need a Fabrication Partner?
</h2>

<p>
📞 Call Us : +91 8547423559
</p>

<p>
✉ Email : info@specmetalworks.com
</p>

<br>

<a href="{% url 'contact' %}" class="btn">
Contact Now
</a>

</section>

<section class="reviews">

<h2>
Customer Reviews
</h2>


<div class="review-cards">


<div class="review-card">

<h3>
Rahul
</h3>

<div class="stars">
★★★★★
</div>

<p>
Excellent fabrication work. Quality finishing and professional service.
</p>

</div>



<div class="review-card">

<h3>
Arun
</h3>

<div class="stars">
★★★★★
</div>

<p>
Good welding team. Completed our industrial project on time.
</p>

</div>



<div class="review-card">

<h3>
Suresh
</h3>

<div class="stars">
★★★★☆
</div>

<p>
Affordable price and good customer support.
</p>

</div>


</div>


<h3 class="rating">
Overall Rating : ⭐⭐⭐⭐⭐ 4.8 / 5
</h3>


</section>


{% endblock %}